*{
    padding:0;
    margin: 0;
}

.space img{
    height: 750px;
    width: auto;
    position: absolute;
    left: 10%;
    top: 15%;
    animation: fadeInFromTop .40s linear forwards, floating ease 15s infinite;
}

.space{
    background: center / contain no-repeat url("bg.png");
    height: 100vh;
    width: auto;
    overflow:hidden;
    background-repeat: no-repeat;
    position: relative;
}

@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating{
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(5%, 15%) rotate(360deg);
    }
    0%{
        transform: translate(10%, 5%) rotate(360deg);
    }
    
    0%{
        transform: translate(0%, 15%) rotate(360deg);
    }
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}